.portfolio {
  padding: 45px 0 43px;
  background-color: #2d303a;
  border-bottom: solid 6px #323746;
}

.portfolio__title {
  color: #666d89;
  font-size: 30px;
  font-weight: 900;
  line-height: 17.86px;
  letter-spacing: -0.15px;
}

.portfolio__description {
  padding-top: 2px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}

.portfolio__controls {
  padding-left: 1px;
}

.portfolio__button {
  padding: 0;
  padding: 4px 7px 4px;
  color: #767e9e;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: -0.2px;
  line-height: 12px;
  border: 1px solid #666d89;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
}

.btn-graphic {
  letter-spacing: -0.36px;
}

.btn-art {
  letter-spacing: 0.22px;
}

.portfolio__button:not(:first-child) {
  margin-left: 7px;
}

.portfolio__button:hover,
.portfolio__button:focus {
  color: #fff;
  border-color: #fff;
}

.btn--active {
  color: #fff;
  border-color: #fff;
}

.portfolio__list {
  max-height: 621px;
  max-width: 940px;
  padding: 0;
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  overflow: hidden;
}

.portfolio__item {
  margin-bottom: 20px;
  width: 220px;
  height: 187px;
  overflow: hidden;
}

.portfolio__item img {
  display: block;
  width: 100%;
  height: auto;
}

.about-us {
  padding-top: 44px;
  padding-bottom: 55px;
  background-color: #f2f2f2;
  border-bottom: solid 6px #fff;
}

.about-us__title {
  margin-bottom: 27px;
  color: #666d89;
  font-size: 30px;
  font-weight: 900;
  line-height: 17.86px;
  letter-spacing: -0.15px;
}

.about-us__description {
  margin-bottom: 45px;
  color: #767e9e;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}

.about-us__description::first-line {
  letter-spacing: 0.15px;
}

.about-us__team {
  display: flex;
  max-width: 300px;
}

.about-us__item:first-child {
  margin-right: 19px;
}

.about-us__item:nth-child(2) {
  margin-right: 21px;
}

.person__name {
  margin-top: 15px;
  margin-bottom: 12px;
  color: #666d89;
  font-size: 18px;
  font-weight: 900;
  white-space: nowrap;
  overflow: hidden;
  line-height: 17.86px;
  letter-spacing: -0.2px;
}

.person__description {
  margin-bottom: 24px;
  text-align: justify;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.02px;
  overflow: hidden;
}

.person__description--adam:first-line {
  letter-spacing: -0.14px;
}

.person__description--adam {
  letter-spacing: -0.005px;
}

.person__description--miles {
  letter-spacing: -0.003px;
}

.social {
  padding: 0;
  display: flex;
  list-style: none;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
  width: 32px;
  height: 32px;
  border: 1px solid #666d89;
  border-radius: 50%;
  margin-right: 8px;
  cursor: pointer;
}

.social__item:last-child {
  margin-right: 0;
}

.social__item:hover {
  opacity: 0.6;
}
